WSLastTimeEver/src/META-INF/wsdl/26.236.58.26_8080/ExamService/ProductService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ProductService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ProductService/">

<xs:element name="getProduct" type="tns:getProduct"/>

<xs:element name="getProductResponse" type="tns:getProductResponse"/>

<xs:element name="insertProduct" type="tns:insertProduct"/>

<xs:element name="insertProductResponse" type="tns:insertProductResponse"/>

<xs:complexType name="getProduct">
<xs:sequence>
<xs:element name="studentCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProductResponse">
<xs:sequence>
<xs:element name="return" type="tns:product" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="product">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0"/>
<xs:element name="createdUser" type="xs:string" minOccurs="0"/>
<xs:element name="exportPrice" type="xs:float"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="inportPrice" type="xs:float"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertProduct">
<xs:sequence>
<xs:element name="product" type="tns:product" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertProductResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>